---
import Layout from '../components/Layout.astro';
---

<Layout title="Original Mic Monster">
	<div class="flex flex-col w-full justify-center items-center min-h-screen py-6 text-red-50">
    <h1 class="text-2xl self-center font-extrabold text-center">The Original Mic Monster</h1>
    <p class="text-xs font-thin">Coming Soon...</p>
    <div class="max-w-md"><a href="https://www.instagram.com/micmonster_usa/" class="self-center hover:opacity-50" title="Check out our Instagram"><img class="object-scale-down w-full " src="logo_original_mic_monster.png" alt="The Original Mic Monster"/></a></div>
  </div>
</Layout>